
@media screen and (min-width: 992px) and (max-width:1310px){

#row{
     display:inline-block;
     background-color:#BDBDBD;
	 width:10%;
	}

.list{
	float:left;
	font-size:30px;
	font-weight:bold;
	list-style-type:none;
}
.col1{
	float:left;
	width:250px;
	margin-right:50px;
}
.col2{
	float:left;
	width:250px;
	margin-right:50px;
}
.col3{
	float:left;
	width:250px;
	margin-right:50px;
}
}