

body {		
			background-color:#A9D0F5;
			font-family:arial, verdana, sans-serif;
			font-size: 25px;
     }


table, th, td {
   border: 1px solid black;
   border-width:2px;
   padding= 10px;
}

th{
	background-color: #A9A9F5;
        color: black;
	padding:6px;
}

tr.odd{
	background-color: #FA5882;
    color: black;
}

tr {background-color:#81F7F3;}







